<div>
    <span><h4><%consent_header%></h4></span>
    <span><%consent_text%></span>
    <div>
        <form id="consent_form">
            <table style="width: 66%; margin: 0 auto">
                <tr>
                    <td>
                        <h4>Statement</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%consent_q1%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%consent_q2%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%consent_q3%>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%consent_q4%>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <input type="submit" id="agree" name="agree" value="I Agree">
            <input type="submit" name="disagree" value="I Disagree">
        </form>
    </div>
</div>