<div>
    <span><h4><%questionnaire_header%></h4></span>
    <form>
        <table>
            <tr>
                <td>
                    <h4><%age_label%></h4>
                </td>
                <td>
                    <input type="number" name="age" id="age" style="width: 4em" required>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><%gender_label%></h4>
                </td>
                <td>
                    <select name="gender" id="gender" required>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                        <option value="other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><%instrument_years_label%></h4>
                </td>
                <td>
                    <input type="number" name="instrument_years" id="instrument_years" style="width: 4em" required>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><%primary_instrument_label%></h4>
                </td>
                <td>
                    <input type="text" name="primary_instrument" id="primary_instrument" required>
                </td>
            </tr>
            <tr>
                <td>
                    <h4><%hearing_issue_label%></h4>
                </td>
                <td>
                    <label>
                        <input type="radio" name="hearing_issue" id="hearing_issue" value="yes" required>
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="hearing_issue" id="hearing_issue" value="no" required>
                        No
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="submit">
                </td>
            </tr>
        </table>
    </form>
</div>